<!DOCTYPE html>
<html lang="{% block lang %}{{ DEFAULT_LANG }}{% endblock lang %}">
	<head>
	{% block head %}
		<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

		<meta charset="utf-8" />
		<meta name="author" content="{{ AUTHOR }}" />
		<meta name="description" content="{% block description %}{% endblock description %}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link rel="stylesheet" href="{{ SITEURL }}/theme/css/normalize.css" type="text/css" />
		<link rel="stylesheet" href="{{ SITEURL }}/theme/css/skeleton.css" type="text/css" />
		<link rel="stylesheet" href="{{ SITEURL }}/theme/css/custom.css" type="text/css" />
	{% endblock head %}
	</head>
	
	<body>
	{% block content %}
	{% endblock content %}
	</body>
</html>
